<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  

<h1>Habits</h1>

<h2>Habits for this user</h2>

<h3> Habits to make </h3>
<ul>
    {{#each habits}} 
       {{#if this.make}}
         <li>
             <h3>{{this.name}}</h3>
             <button id={{this.id}} class="complete-button">Complete Habit</button>
        </li>
       {{/if}} 
    {{/each}}
</ul>


<h3> Habits to break </h3>
<ul>
    {{#each habits}} 
       {{#unless this.make}}
         <li>
             <h3>{{this.name}}</h3>
             <button id={{this.id}} class="complete-button">Complete Habit</button>
        </li>
       {{/unless}} 
    {{/each}}
</ul>

<a href = "/createhabit/{{id}}.html?user={{id}}"> Create New Habit </a>
