
<h1>Your Habits</h1>

<h3> Habits to make </h3>
<ul>
    {{#each habits}} 
       {{#if this.make}}
         <li>
             <h3>{{this.name}}</h3>
                {{#unless this.progress}}
                    <button id={{this.id}} class="complete-button">Complete Habit</button>
                {{/unless}}
        </li>
       {{/if}} 
    {{/each}}
</ul>


<h3> Habits to break </h3>
<ul>
    {{#each habits}} 
       {{#unless this.make}}
         <li>
             <h3>{{this.name}}</h3>
                {{#unless this.progress}}
                    <button id={{this.id}} class="complete-button">Complete Habit</button>
                {{/unless}}
        </li>
       {{/unless}} 
    {{/each}}
</ul>

<a href = "/createhabit/{{id}}.html?user={{id}}"> Create New Habit </a>
